<div class="users-profile-main">
    <div class="users-profile-info">
        <div class="users-image-card">
            <% if @data[:user][0]['avatar_image_url'] == ''%>
                <img src="/assets/images/avatar_generic.png" alt="">
            <% else %>
                <img src="@data[:user][0]['avatar_image_url'] == ''%>" alt="">
            <% end %>
        </div>
        <div class="user-details-card">
            <div class="users-info">
                <h1><%= @data[:user][0]['user_name'] %></h1>
                <h2><%= @data[:user][0]['user_email'] %></h2>
            </div>
            <div class="users-meta-info">
                <h3>Total Recipes Created: <%= @data[:user].count %></h3>
                <h3>Total Upvotes: <%= @data[:user].reduce(0) do |total, user_recipe| total + user_recipe['recipe_vote'].to_i end %></h3>
                <%# <h3>Total Posts: </h3> %>
                <p>Joined <%= @data[:user][0]['user_created_at'].split(' ')[0] %></p>
            </div>
        </div>
    </div> 
    <div> 
        <div class="users-profile-items">
            </a>
            <h1><a href="/user/<%= session[:user_id] %>/recipes/create" class="remove-all-styles">Create more <i class="fas fa-plus"></i></a></h1>
            <h2 class="search-result-count light-text-h3">Recipes Created: <%= @data[:user].count %></h2>
            <div class="recipe-category">
                <div class="user-recipes-category-container">
                <% @data[:user].each do |user_recipe| %>
                    <div class="recipe-card">
                    <a href="/recipes/<%= user_recipe['recipe_id']%>" class="remove-all-styles" style="position: relative; z-index: 1;">
                        <div class="likes-count-card-small">
                            <i class="fas fa-thumbs-up"></i>
                            <span><%= user_recipe['recipe_vote'] %></span>
                        </div> 
                        <img class="recipe-image" src="<%= user_recipe['media_url'] %>" alt="">
                    </a> 
                        <div class="recipe-info-card">
                            <h3 class="recipe-name"><b><%= user_recipe['recipe_name'] %></b></h3>
                            <div class="recipe-meta-info">
                                <div>
                                    <p><i class="fas fa-clock"></i> <%= user_recipe['difficulty'] %> mins</p><p>(<%= user_recipe['serving'] %> serving)</p>
                                </div>
                                <div class="recipe-actions">
                                    <p><%= user_recipe['reciipe_vote'] %></p>
                                    <a href="" class="remove-all-styles like-btn"><div style="display: none;"><%= user_recipe['recipe_id'] %></div><i class="fas fa-thumbs-up"></i></a>
                                    <a href="" class="remove-all-styles save-btn"><div style="display: none;"><%= (logged_in? ? current_user['user_id'] : '') + ',' + user_recipe['recipe_id'] %></div><i class="far fa-heart"></i></a>
                                </div>     
                            </div>
                        </div>
                    </div>           
                <% end %>
                </div>
            </div>   
        </div>

        <div class="users-profile-items">
            </a>
            <h2 class="search-result-count light-text-h3">Recipes Saved: <%= @data[:recipe].count %></h2>
            <div class="recipe-category">
                <div class="user-recipes-category-container">
                <% @data[:recipe].each do |saved_recipe| %>
                    <div class="recipe-card">
                    <a href="/recipes/<%= saved_recipe['recipe_id']%>" class="remove-all-styles" style="position: relative; z-index: 1;">
                        <div class="likes-count-card-small">
                            <i class="fas fa-thumbs-up"></i>
                            <span><%= saved_recipe['recipe_vote'] %></span>
                        </div> 
                        <img class="recipe-image" src="<%= saved_recipe['media_url'] %>" alt="">
                    </a> 
                        <div class="recipe-info-card">
                            <h3 class="recipe-name"><b><%= saved_recipe['recipe_name'] %></b></h3>
                            <div class="recipe-meta-info">
                                <div>
                                    <p><i class="fas fa-clock"></i> <%= saved_recipe['difficulty'] %> mins</p><p><%= saved_recipe['serving'] %> serving</p>
                                </div>
                                <div class="recipe-actions">
                                    <p><%= saved_recipe['reciipe_vote'] %></p>
                                    <a href="" class="remove-all-styles like-btn"><div style="display: none;"><%= saved_recipe['recipe_id'] %></div><i class="fas fa-thumbs-up"></i></a>
                                    <a href="" class="remove-all-styles save-btn"><div style="display: none;"><%= (logged_in? ? current_user['user_id'] : '') + ',' + saved_recipe['recipe_id'] %></div><i class="far fa-heart"></i></a>
                                </div>     
                            </div>
                        </div>
                    </div>           
                <% end %>
                </div>
            </div>   
        </div>
    </div>
</div>